.filters_wrapper {
    display: flex;
    flex-direction: column;
}

.resetButton {
    margin-top: 1.5rem;
    min-width: 12rem;
    padding: .5rem;
    border: none;
    border-radius: 10px;
    background: red;
    color: #ffffff;
}
.resetButton:hover {
    background: crimson;
}

.brand_container_properties {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.brand_container_properties_top {
    display: flex;
    justify-content: space-between;
}

.brand_container_properties_top h4 {
    color: #434343;
    font-size: 1.1rem;
    font-weight: 800;
}

.brand_container_properties_top button {
    background: inherit;
    border: none;
}

.brand_container_properties_top button i {
    color: lightcoral;
}

.brand_container_variants {
    display: flex;
    flex-direction: column;
    color: #434343;
    font-size: .8rem;
}

.brand_container_variants_hidden {
    display: none;
}

.brand_container_variants label {
    padding-bottom: 0.4rem;
}

.brand_container_variants input {
    margin-right: 0.4rem;
}