.brands {
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.brands_title {
   text-align: start;
   color: #434343;
   line-height: 30px;
   font-size: 1.2rem;
   font-weight: 600;
}

.brands_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands_img_container {
    padding: 0 .5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 1px 0px 2px 1px #e8e4e4;
    cursor: pointer;
    transition: border .4s ease;
}

.brands_img_container:hover {
    border: 1px dotted red;
    box-shadow: none;
}

.brands_img_container img {
    width: 100%;
    height: auto;
}

.brands_bottom {
    padding-top: 1.5rem;
    align-self: center;
    color: red;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 800;
}