.footer {
    padding: 2rem 4rem 2rem;
    background: rgb(237, 235, 235);
}

.footer_wrapper {
    padding-top: 1.2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer_wrapper_logo {
    font-size: 2rem;
    color: rgb(61, 23, 23);
    line-height: 27px;
    font-weight: bold;
    align-self: center;
}

.footer_wrapper_user h6,
.footer_wrapper_store h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer_wrapper_user ul li,
.footer_wrapper_store ul li {
    padding-bottom: 0.5rem;
    font-size: .8rem;
    color: red;
    cursor: pointer;
}

