@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Unna:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lora', serif !important; 
  /* font-family: 'Unna', serif !important; */
}

* {
    box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0 !important;
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

/* /// Carousel /// */
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.carousel-indicators {
  bottom: -60px !important;
}

.carousel-indicators button {
  background-color: rgb(53, 52, 52) !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 50%;
  margin-right: .9rem !important;
}

/* /// react-image-gallery /// */
.image-gallery-thumbnail {
  width: 80px;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.image-gallery-thumbnails-container {
  transform: none !important;
}

/* navs singleProductPage */

.nav.nav-tabs {
  position: relative;
}

